body {
  background-color: #1c1c1c;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  text-decoration: underline;
  color: #c0e822;
}

a:hover,
a:active {
  color: #759203;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#wrapper {
  width: 100vw;
  min-width: 65x;
  max-width: 465px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#wave,
#control {
  width: 100%;
}

#box-wrapper {
  margin-top: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#box-wrapper > div:nth-of-type(n + 2) {
  margin-left: 4px;
}

.box {
  width: 12px;
  height: 12px;
}

.box-green {
  border: 2px solid #c0e822;
}

.box-green-dark {
  border: 2px solid #759203;
}

.box-khaki {
  border: 2px solid #757703;
}

.box-mustard {
  border: 2px solid #d3d626;
}

.box-red {
  border: 2px solid #dc1c1c;
}

.box-red-dark {
  border: 2px solid #8c0000;
}

.box-cyan {
  border: 2px solid #4aefba;
}

.box-cyan-dark {
  border: 2px solid #2d9473;
}

.box-pink {
  border: 2px solid #ff498c;
}

.box-pink-dark {
  border: 2px solid #9e2c56;
}

#info {
  margin-top: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
